* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.bold {
    font-weight: 600;
}

.main {
    background-color: #f4f5f9;
    height: 100vh;
    padding: 2rem 2rem 2rem 2rem;
    color: #636363;
    gap: 1rem;
}
.filter-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.filter-container button:not(.active) {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
}
.active {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background: #e1e4ea;
    border: 1px solid red;
}
.content-container {
    height: 100%;
    display: flex;
    padding: 1rem 0;
}
.aside {
    display: inline-block;
    overflow: auto;
    width: 100%;
    cursor: pointer;
    transition: width 0.5s ease-out;
    list-style-type: none;
    padding-right: 0.5rem;
}
.nav-item {
    list-style-type: none;
    border: 1px solid #cfd2dc;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}
.read {
    background: #f2f2f2;
}
.item-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
}
.content-details {
    width: 100%;
}
.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3rem;
    min-width: 3rem;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: #e54065;
    color: #fff;
    text-transform: uppercase;
}
.nav-item-description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.content {
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem;
    border: 1px solid #cfd2dc;
    border-radius: 0.5rem;
}
.content h1 {
    text-transform: capitalize;
    font-size: xx-large;
}
.mail-body {
    margin-top: 1rem;
}
.mail-body p {
    margin-bottom: 1rem;
}
.wrapper {
    display: inline-block;
    width: 0px;
    transition: width 0.5s ease-out;
    overflow: hidden;
}
.favorite-btn {
    border: none;
    background: #e54065;
    float: right;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
}
